@back-color: #F8F8F8;
@head-color: #FF8800;
@fore-color: #333333;
@link-color: #3BE;
@link-hover: darken(@link-color, 10%);
@link-active: darken(@link-hover, 5%);

* {
    /* reset font */
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: inherit;
    /* reset layout */
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    color: @fore-color;
    background-color: @back-color;
    background-image: url(../img/bg.png);
}

.center-it {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.header {
    background-color: @head-color;

    h2 {
        padding: 16px 4px;
        color: #fff;
        font-size: 2em;
    }
}

.article {
    padding: 16px 4px;
    font-size: 1.25em;
}

.content {
    overflow: auto;
}

.loader {
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

.footer {
    .center-it();
    padding-top: 4em;
    padding-left: 4px;
    font-size: 0.75em;
    clear: both;
}

a {
    color: @link-color;

    &:hover {
        color: @link-hover;
    }

    &:active {
        color: @link-active;
    }
}
