.left,
.right {
  float: left;
  width: 50%;
  padding: 16px 4px;
}
.left form > *,
.right form > * {
  display: block;
  margin-bottom: 0.5em;
}
.left form,
.right form {
  padding-left: 2em;
  position: relative;
}
.left form .loader,
.right form .loader {
  position: absolute;
  top: 110px;
  left: 110px;
  bottom: 15px;
  right: 325px;
  display: none;
}
.left h4,
.right h4 {
  font-size: 1.75em;
  margin-bottom: 1em;
}
.left .error,
.right .error {
  display: none;
  color: #f00;
  padding-left: 2em;
  margin-bottom: 0.5em;
}
.left .error ul,
.right .error ul {
  font-size: .75em;
  padding-left: 2em;
}
.left .txt,
.right .txt {
  line-height: 1.5em;
  max-width: 300px;
  width: 100%;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid #888;
}
.left .txt:focus,
.right .txt:focus {
  background-color: #FFF;
}
.left .btn,
.right .btn {
  background-color: #aa5939;
  border: none;
  padding: 4px 8px;
  color: #FFF;
  font-weight: bold;
  border-radius: 3px;
}
.left .btn:hover,
.right .btn:hover {
  background-color: #84452c;
  box-shadow: 0 2px 2px #888;
}
.left .btn:active,
.right .btn:active {
  background-color: #713b26;
  box-shadow: none;
}
.left .error {
  padding: 0;
}
